@media (max-width: 600px) {
    .application-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        width: 100%;
        padding: 0;
    }
}