.edit-container {
    min-width: 15em;
    background-color: rgb(51, 43, 43);
    padding: 1em;
    border-radius: 50px;
    justify-content: center;
}

.meme-text {
    border-radius: 50px;
    border: none;
    text-align: center;
    margin-bottom: 2em
}

.text-edit-container {
    background-color: #97a7a6b0;
    padding: 1em;
    gap: 2em;
    max-width: 25em;
    margin-bottom: 1em;
    align-self: center;
    justify-content: center;
    border-radius: 18px;
}

.text-edit-container button {
    border-radius: 10px;
    border: none;
}

.text-edit-container button:hover {
    cursor: pointer;
}

.impact {
    width: 10em;
    border-radius: 10px;
}

.text-edit {
    gap: 2em;
}

.sticker-container {
    background-color: #97a7a6b0;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 18px;
}

.share-container {
    justify-content: space-evenly;
    gap: .5em;
}

.share {
    background-color: rgb(114 213 255);
    width: 10em;
    border-radius: 20px;
    border: none;
    width: 10em;
    height: 5em;
    align-self: center;
}

.share:hover {
    cursor: pointer;
}

.download {
    background-color: rgb(114 213 255);
    width: 10em;
    height: 5em;
    border-radius: 18px;
    border: none;
    align-self: center;
}

.download:hover {
    cursor: pointer;
}