.small-button {
    background-color: #71b9cd;
    border: none;
    border-radius: 18px;
    text-decoration: none;
    background-color: transparent;
    font-size: 35px;
}

.small-button:hover {
    cursor: pointer;
}