.grid {
    display: grid;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.text-align {
    text-align: center;
}

.small-button {
    width: 35px;
    height: 35px;
    padding: 0;
}

.wrap {
    flex-wrap: wrap;
}

.background-color {
    background-color: transparent;
}

.text-decoration {
    text-decoration: none;
}

@media (max-width: 700px) {
    .application-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        width: 100%;
        padding: 0;
        background-color: red;
    }

    .header {
        background-color: red;
    }
}